.login {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    color: #0071c2;
}
.lContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.lInput{
    border: none;
    border-bottom: 1px solid lightgray;
    height: 30px;
    display: flex;
    padding: 10px;
}

.lButton {
    border: none;
    padding: 10px 20px;
    background-color: #0071c2;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

.lButton:disabled{
    background-color: #0071c28c;
    cursor: not-allowed;
}